.input {
  width: 80%;
  height: 30px;
  font-size: 15px;
  border: rgb(190, 190, 190) 1px solid;
  padding-left: 10px;
}

.input-group {
  margin-bottom: 10px;
}

.label {
  font-weight: bold;
  color: rgb(71, 71, 71);
}

.label--main {
  margin-bottom: 30px;
  font-size: 20px;
}

.label--input {
  font-size: 13px;
  margin-bottom: 5px;
}

.change {
  width: 50%;
}

.submit-button {
  background: #bd0000;
  text-decoration: none;
  border: none;
  color: rgb(255, 255, 255);
  width: 80px;
  height: 30px;
  font-size: 16px;
  font-weight: bold;
  margin-top: 7px;
}

.submit-button:hover {
  cursor: pointer;
  background: #750000;
}

.submit-button:active {
  background: #750000;
}

.icon {
  width: 100%;
  height: 100%;
  text-align: center;
  padding: 0;
}

.icon-content {
  width: 70%;
  height: 70%;
  display: inline-block;
}

.content-user {
  border-right: 1px solid rgb(190, 190, 190);
  display: flex;
}

.submit {
  display: flex;
  margin-top: 20px;
}
