.info-table {
  width: 100%;
  font-size: 15px;
  color: rgb(71, 71, 71);
}

.info-row {
  width: 100%;
  display: flex;
  padding: 4px 0 4px 0;
  border-bottom: 1px solid rgb(190, 190, 190);
}

.info-label {
  width: 50%;
  font-weight: bold;
}

.info-value {
  width: 50%;
}

.result-title {
  font-size: 25px;
  font-weight: bold;
}

.result-content {
  padding: 1px 15px 1px 15px;
  border: 1px solid rgb(190, 190, 190);
}

.result-description {
  background: rgb(245, 245, 245);
  background-origin: padding-box;
  padding: 15px;
  color: rgb(71, 71, 71);
  text-align: justify;
}

.result-excerpt {
  text-align: justify;
  font-style: italic;
  white-space: pre-wrap;
}

.result-excerpt:before,
.result-excerpt:after {
  content: '"';
}

.content-result {
  border-right: 1px solid rgb(190, 190, 190);
  display: flex;
}

.result-pdf {
  width: 35px;
  height: 35px;
}

.result-pdfLink {
  text-decoration: none;
  color: #bd0000;
}

.result-pdfLink:hover {
  cursor: pointer;
}
