.header {
  background-color: rgb(39, 39, 39);
  box-shadow: inset 0 0 5px #000000;
  color: white;
  display: flex;
  width: 100%;
  text-align: center;
  height: 100px;
}

.header-content {
  width: 2000px;
  height: 100px;
  display: flex;
  margin: auto;
}

.header-logo {
  width: 25%;
  height: 100%;
  padding: 1%;
}

.header-logo-icon {
  padding-top: 4px;
  margin-right: 10px;
}

.header-item {
  border-right: 1px solid rgba(190, 190, 190, 0.74);
  display: flex;
}

.header-tabs {
  width: 75%;
  padding: 1%;
  display: flex;
}

.header-item--tabs {
  height: 100%;
  display: flex;
  width: 90%;
}

.header-tab {
  height: 30px;
  margin-right: 30px;
}

.header-link {
  color: white;
  text-decoration: none;
}

.header-item--right {
  float: right;
}

.header-link:hover {
  color: white;
  border-bottom: 4px solid #750000;
}

.header-link--selected {
  color: white;
  text-decoration: none;
  border-bottom: 4px solid #bd0000;
}

.header-input {
  width: 250px;
  height: 30px;
  font-size: 15px;
  background-image: url(../../assets/images/icons8-search.svg);
  background-position: right;
  background-repeat: no-repeat;
  border: rgb(190, 190, 190) 1px solid;
  padding-left: 10px;
  margin-bottom: 40px;
}
